---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
// import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { SITE } from '~/utils/config';
import { headerData } from '~/navigation';

const metadata = {
  title: SITE.name,
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Linkedin', href: SITE.linkedin },
        { text: 'Github', href: SITE.github },
      ]}
      actions={headerData.actions}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero id="hero" title={SITE.name} actions={[{ variant: 'primary', text: 'Learn more', href: '#more' }]}>
    <Fragment slot="subtitle">
      Experienced Backend Developer with a strong focus on security. Proficient in JavaScript, NodeJS, AWS, and
      real-time messaging integration. Led impactful projects with robust implementation and full-stack development
      focus. Work spans diverse domains, welcoming new user-centric challenges.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="more"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-youtube',
        callToAction: {
          target: '_blank',
          text: 'Youtube',
          href: 'https://www.youtube.com/channel/UC8ysoE0-dzagIlQh8KxeKTA',
        },
      },
      {
        icon: 'tabler:brand-upwork',
        callToAction: {
          target: '_blank',
          text: 'Upwork',
          href: SITE.upwork,
        },
      },
    ]}
    image={{
      src: '~/assets/photo.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h3>
      <p class="text-justify">
        Welcome to my website! I'm Julio Cesar Jr Torres Moreno, an experienced JavaScript Backend Developer with a
        strong focus on security. Over the years, I've refined my skills in JavaScript, NodeJS, AWS, and real-time
        messaging integration, leading impactful projects that emphasize robust implementation and a full-stack
        development approach.
      </p>
      <br />
      <p class="text-justify">
        More recently, I've embarked on an exciting journey into the realms of data science, exploring areas like
        Natural Language Processing (NLP) and the captivating world of Transformers. My commitment now extends to
        staying on the cutting edge of these fields, adding even more dimensions to my expertise.
      </p>
      <br />
      <p class="text-justify">
        Whether it's crafting secure backend solutions or delving into the transformative power of data, I'm always
        ready for fresh, user-centric challenges. With a solid foundation in JavaScript and a growing passion for data
        science, I'm here to contribute to innovative projects and embrace the ever-evolving tech landscape."
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->
  <Steps
    id="resume"
    title="Work experience"
    items={SITE.experience?.map((experience) => ({
      title: `${experience.position} <br /> 
        <span class="font-normal">${experience.company}</span> <br /> 
        <span class="text-sm font-normal">${experience.startDate} - ${experience.endDate}</span>`,
      description: `<p class="text-justify">${experience.description}</p> <br />
      <b>keywords:</b> <span class="text-sm font-normal">${experience.keywords.join(', ')}</span>`,
      icon: 'tabler:briefcase',
    })) ?? []}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={SITE.education?.map((education) => ({
      title: `${education.title} <br />
      <span class="font-normal">${education.school}</span> <br /> 
      <span class="text-sm font-normal">${education.startDate} - ${education.endDate}</span>`,
      icon: 'tabler:school',
    })) ?? []}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills"
    subtitle="Discover the competencies that enable me to turn your project into reality."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Full Stack Development Leadership',
        description: 'Overseeing full stack development projects and providing leadership to ensure their success.',
      },
      {
        title: 'Security Stewardship for Payment Gateway Project',
        description: 'Managing security aspects for a payment gateway project, ensuring secure transactions.',
      },
      {
        title: 'Proficiency in Frontend and Backend Development',
        description:
          'Demonstrating competence in both frontend and backend development tasks, resulting in comprehensive skills.',
      },
      {
        title: 'Robust Security Implementation and Thorough Security Assessments',
        description:
          'Implementing robust security measures and conducting detailed security assessments to safeguard applications.',
      },
      {
        title: 'User-Centric Frontend Development',
        description:
          'Crafting user-friendly interfaces and optimizing the overall user experience to meet customer needs.',
      },
      {
        title: 'Seamless Database Integration',
        description: 'Ensuring smooth integration of databases within the system for efficient data management.',
      },
      {
        title: 'Specialization in React.js for Business Intelligence',
        description: 'Focusing on using React.js for business intelligence, enhancing data-driven decision-making.',
      },
      {
        title: 'Implementing Data Analysis and Generating Informative Reports',
        description: 'Applying data analysis techniques to generate insightful reports for data-driven strategies.',
      },
      {
        title: 'Continuous Adaptation to Emerging Technologies',
        description:
          'Remaining adaptable and staying current with emerging technologies to improve development processes.',
      },
    ]}
  />

  <!-- Content Widget **************** -->
  <!--
  <Content
    id="porfolio"
    title="Elevating visual narratives"
    subtitle="Embark on a design journey that surpasses pixels, entering a realm of imagination. Explore my portfolio, where passion and creativity converge to shape enthralling visual narratives."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Developed a comprehensive brand identity for a tech startup, Tech Innovators, specializing in disruptive innovations. The goal was to convey a modern yet approachable image that resonated with both corporate clients and tech enthusiasts.',
      },
      {
        title: 'Role:',
        description:
          'Led the entire branding process from concept to execution. Created a dynamic logo that symbolized innovation, selected a vibrant color palette, and I designed corporate stationery, website graphics, and social media assets.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 1: <br /><span class="text-2xl">Brand identity for tech innovators</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>-->

  <!-- Content Widget **************** -->
  <!--
  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'Designed a captivating event poster for an art and music festival, "ArtWave Fusion," aiming to showcase the synergy between visual art and music genres.',
      },
      {
        title: 'Role:',
        description: `Translated the festival's creative theme into a visually striking poster. Used bold typography, vibrant colors, and abstract elements to depict the fusion of art and music. Ensured the design captured the festival's vibrant atmosphere.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 2: <br /><span class="text-2xl">Event poster for art & music festival</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- Testimonials Widget *********** -->
<!--
  <Testimonials
    title="Client testimonials"
    subtitle="Discover what clients have to say about their experiences working with me."
    testimonials={[
      {
        testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`,
        name: 'Mark Thompson',
        job: 'Creative director',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,
        name: 'Emily Martinez',
        job: 'CEO',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Emily Martinez Image',
        },
      },
      {
        testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,
        name: 'Laura Simmons',
        job: 'Founder of an NGO',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Simmons Image',
        },
      },
      {
        testimonial: `We entrusted Sarah with revamping our website's user interface, and the results were astounding. Her intuitive design sense enhanced user experience, leading to a significant increase in engagement. She's a designer who truly understands the synergy of aesthetics and functionality.`,
        name: 'Alex Foster',
        job: 'Director of web services',
        image: {
          src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Alex Foster Image',
        },
      },
      {
        testimonial: `She took our vision and elevated it beyond imagination. Her ability to capture brand essence and translate it into design is nothing short of remarkable. Working with her has been an inspiring journey.`,
        name: 'Jessica Collins',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'Jessica Collins Image',
        },
      },
      {
        testimonial: `Her ability to transform concepts into captivating visuals is nothing short of extraordinary. She took our event poster idea and turned it into a visual masterpiece that perfectly captured the essence of our festival. Sarah's dedication, creativity, and knack for delivering beyond expectations make her an invaluable asset to any project.`,
        name: 'Michael Carter',
        job: 'Event Coordinator',
        image: {
          src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Michael Carter Image',
        },
      },
    ]}
  />
 -->
  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Let's create together"
    subtitle="Ready to bring your vision to life with captivating designs?"
    actions={[
      {
        variant: 'primary',
        text: 'Hire me',
        href: 'mailto:xtorresm@icloud.com?subject=Inquiry%20About%20[Your%20Subject]%20From%20Your%20Website',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
