---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
//import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
//import CallToAction from '~/components/widgets/CallToAction.astro';
import { SITE } from '~/utils/config';

const metadata = {
  title: `${SITE?.name}: Pioneering the Future of Technology and AI`,
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[{ variant: 'primary', text: 'Learn more', href: '#features' }]}
    image={{ src: '~/assets/images/tree-2987962_1280.jpg', alt: 'Understanding the product development cycle.' }}
  >
    <Fragment slot="title">Create the future, breathe life into your business, and thrive.</Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Explore Technology and AI through the Vision of {SITE?.name}, a Forward-Thinking Software Developer on a Mission
        for Intelligent Solutions.
      </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What can you achieve with us?"
    subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022."
    items={[
      {
        title: 'Custom Web Application Development',
        description:
          'Create unique web applications tailored to your needs, using the latest web technologies for efficiency and innovation.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Mobile App Development',
        description:
          'Craft mobile apps for Android and iOS, integrating them seamlessly with web systems and databases.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Data Analysis and Visualization',
        description:
          'Understand and leverage your data with data analysis, predictive modeling, and visualizations for informed decision-making.',
        icon: 'tabler:components',
      },
      {
        title: 'Dashboard Design',
        description: 'Monitor key data in real-time with interactive dashboards, showcasing KPIs and business metrics.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Bot Integration',
        description:
          'Enhance user experiences and automate processes with the seamless integration of chatbots and AI-driven bots into your digital platforms.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Data Science Consulting',
        description:
          'Help businesses effectively use data through expert consulting and provide training for internal teams.',
        icon: 'tabler:arrows-right-left',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Insides"
    title="Our creations: Coding magic for a digital kingdom."
    items={[
      {
        title: 'Robust and Secure Code',
        description:
          "We develop code that's not just functional, but also secure, providing peace of mind for both you and your users.",
      },
      {
        title: 'Scalable Architectures',
        description:
          "Our solutions are built with scalability in mind, ensuring they can grow alongside your business's needs.",
      },
      {
        title: 'Rigorous Testing Frameworks',
        description:
          'We employ comprehensive testing methodologies to deliver code that is reliable and robust under all conditions.',
      },
    ]}
    image={{
      src: '~/assets/images/programmer-1653351_1280.png',
      alt: '"Skilled programmer writing code on a computer.',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
       Gain a competitive advantage by incorporating industry leading practices
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Future-Proofed Development',
        description:
          'Our code is designed to adapt and thrive in the face of ever-evolving technology trends and requirements.',
      },
      {
        title: 'Efficient Code Optimization',
        description: 'We fine-tune our code for performance, so your applications run at peak efficiency.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Responsive Support',
        description: 'Count on us for quick and effective support whenever you encounter issues or need assistance.',
      },
    ]}
    image={{
      src: '~/assets/images/connections-2099068_1280.jpg',
      alt: 'Diverse group of individuals engaging in social connections and interactions.',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Boosted User Engagement',
        description:
          'Engage your audience with interactive elements, user-friendly navigation, and visually captivating layouts to keep them coming back.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Flexible Team Expansion',
        description: 'As your project grows, we have the expertise to quickly onboard new team members when needed.',
      },
      {
        title: 'Inclusive Collaboration',
        description: `We foster a collaborative environment, ensuring your input is valued every step of the way.`,
      },
    ]}
    image={{
      src: '~/assets/images/money-6063323_1280.jpg',
      alt: 'Observing the financial results of hard work and dedication.',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->
  <!--
  <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</em>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />
 -->
  <!-- Features2 Widget ************** -->

  <Features2
    title="Mostly Recommended Approaches to Start Your MVP"
    subtitle="Provides a simple approach to quickly start developing your business idea"
    tagline="Recommendeds"
    items={[
      {
        title: 'React.js',
        description:
          'A widely used JavaScript framework for building interactive and responsive user interfaces in the frontend.',
        icon: 'tabler:brand-react',
      },
      {
        title: 'Nest.js',
        description:
          'A TypeScript-based backend framework that follows module architecture, allowing for the creation of scalable and maintainable applications.',
        icon: 'tabler:brand-typescript',
      },
      {
        title: 'Generative AI Models',
        description:
          'Artificial intelligence models capable of autonomously generating content, such as text, images, or music.',
        icon: 'tabler:robot-face',
      },
      {
        title: 'Scrum',
        description:
          'An agile methodology that emphasizes collaboration, incremental delivery, and continuous adaptation, which can be beneficial for managing software development projects.',
        icon: 'tabler:growth',
      },
      {
        title: 'Continuous Integration and Continuous Deployment (CI/CD)',
        description:
          'Methodologies and practices that enable automated testing and code deployment, improving efficiency in software development and delivery.',
        icon: 'tabler:brand-aws',
      },
      {
        title: 'SonarQube',
        description:
          'A tool for continuous code quality inspection, which helps maintain code quality and identify areas for improvement.',
        icon: 'tabler:shield-lock',
      },
      {
        title: 'RESTful APIs',
        description:
          'Designing your APIs in a RESTful manner to achieve efficient communication between the frontend and backend.',
        icon: 'tabler:checklist',
      },
      {
        title: 'User-Centered Design (UCD)',
        description:
          "Focusing your development on the user experience, ensuring your software meets your customers' needs.",
        icon: 'tabler:currency-dollar',
      },
      {
        title: 'Agile User Stories',
        description:
          "A technique that focuses on the detailed description of functionalities from the user's perspective, which can be valuable for planning and developing agile projects.",
        icon: 'tabler:history-off',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <!--
  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />
  -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Gain Valuable Insights into Common Queries About Our Services, Technologies, and Processes. Get Quick and Comprehensive Answers to Your Questions."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'What do I need to get started with your development services?',
        description:
          "o begin, we'll discuss your project goals and requirements. We'll collaborate to define the scope, and then our team will get to work bringing your idea to life.",
      },
      {
        title: 'How can your services contribute to the growth of my business or idea?',
        description:
          'We create scalable solutions that adapt to your evolving needs. Our focus on user-centric design and innovative technology empowers you to expand and reach your full potential.',
      },
      {
        title: 'What is the typical project timeline for development and deployment?',
        description:
          "Project timelines can vary based on complexity, but we work efficiently to deliver solutions in a timely manner. We'll provide a detailed estimate during our initial discussions.",
      },
      {
        title: 'Do you provide support for scaling my application as my business grows?',
        description:
          "Absolutely. We offer ongoing support and optimization to ensure your application scales seamlessly and keeps pace with your business's growth.",
      },
      {
        title: 'Do you offer consultation for project ideas and feasibility assessments?',
        description:
          "Yes, we provide consultation services to help refine your project idea and assess its feasibility. We're here to assist you from concept to execution.",
      },
      {
        title: 'How do you handle data privacy and security in your development projects?',
        description:
          'Data privacy and security are top priorities. We implement robust measures to protect your data and ensure compliance with relevant regulations. Your information is safe with us.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!--
  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />
  -->

  <!-- CallToAction Widget *********** -->
  <!--
  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get Started',
        href: '/contact',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title">Elevate Your Digital Presence</Fragment>

    <Fragment slot="subtitle">
      Unlock the full potential of your online brand with our innovative solutions. Let us take you to the next level.
    </Fragment>
  </CallToAction>-->

  <Features2
    title="We are here to help!"
    items={[
      {
        title: 'General support',
        description: `Chat with us for inquiries related to account management, website navigation, payment issues, accessing purchased templates or general questions about the website's functionality.`,
      },
      {
        title: 'Phone',
        description: `<a target="_blank" href='https://api.whatsapp.com/send?phone=${SITE.contactPhone}&text=Hello%20I%20would%20like%20to%20know%20more%20about%20your%20services'>
        ${SITE.contactPhone}
      <a/>`,
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: `<a target="_blank" href='mailto:${SITE.contactEmail}?subject=Inquiry%20About%20[Your%20Subject]'>
        ${SITE.contactEmail}`,
        icon: 'tabler:mail',
      },
    ]}
  />
</Layout>
